:root {
  --red: #FF0000;
  --blue: #172F5B;
  --orange: #F26D22;
  --green: #6DB214;
  --light-orange: #FFA620;
}

body {
  overflow-x: hidden;
}

.has-tan-background {
  background:#ffeaa7;
}

.navbar-item img {
  max-height: 2.5rem;
}

.is-three-quarters-height {
  min-height: 75vh;
}

.has-black-white-background {
  background: linear-gradient(0deg, #FFFFFF 50%, hsl(0, 0%, 14%) 50%);
}

.hero-text {
  /* color: var(--orange); */
  font-size: 4rem;
  font-family: 'Chela One', cursive;
  /* text-shadow: .040em .040em #FFF6E6, .08em .08em #E7DCD7; */
}

.hero-image {
  color: var(--red);
  -webkit-filter: drop-shadow( 3px 3px 2px #E7DCD7);
  filter: drop-shadow( 5px 5px 1px #E7DCD7);
}

.outline-text {
  font-size: 5rem;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color:transparent;
}

.hero-paragraph-text {
  font-size: 2.5rem;
}

.has-red-background {
  background-color: var(--red) !important;
}

.has-red-border {
  color: var(--red) !important;
  border-color: var(--red) !important;
}

.has-light-orange-background {
  background-color: var(--light-orange) !important;
}

.yellow-button {
  background-color: #fff000 !important;
  color: black !important;
  font-family: 'Chela One', cursive !important;
  border-color: black !important;
  border-width: 3px;
  border-radius: 15px;
}

.hero-subtext{
  font-size: 20px;
}

.has-red-text {
  color: var(--red) !important;
}

.has-green-background {
  background-color: var(--green) !important;
}

@media all and (max-width:30em){
  .red-button {
    display: block;
    margin: 0.2em auto;
  }
}

.has-radius-background {
  background-color: #ffefd6;
  background-image: url("resources/sp22/hero-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.has-grid-background {
  background-color: #0f0f0f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='51' height='25.5' viewBox='0 0 51 25.5'%3E%3Cdefs%3E%3Crect stroke='%230f0f0f' stroke-width='0.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%230f0f0f' stroke-width='0.5'%3E%3Crect fill='%23141414' width='1' height='1'/%3E%3Crect fill='%230f0f0f' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23191919' width='1' height='1' y='1'/%3E%3Crect fill='%231d1d1d' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23222222'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23272727'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%230f0f0f'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%232c2c2c'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%230f0f0f'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%230f0f0f'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='51' height='25.5'/%3E%3Crect fill='url(%23b)' width='51' height='25.5'/%3E%3Crect fill='url(%23c)' width='51' height='25.5'/%3E%3Crect fill='url(%23d)' width='51' height='25.5'/%3E%3Crect fill='url(%23e)' width='51' height='25.5'/%3E%3Crect fill='url(%23f)' width='51' height='25.5'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.has-right-black-border {
  border-right: 2px black solid;
}

.has-bottom-black-border {
  border-bottom: 2px black solid;
}

.is-parent-width {
  width: 100%
}

.is-three-quarters-width {
  width: 75%
}

.is-half-width {
  width: 50%
}

.tile.is-gapless {
  .tile.is-parent {
    padding: 0;
  }

  .tile.is-child {
    margin-bottom: 0 !important;
    border-radius: 0;
  }

  .notification {
    border-radius: 0;
  }
}

a.navbar-item:hover {
  color: var(--red);
}

.yellow-hover:hover {
  color: #fff000 !important;
  text-shadow: 1px 1px 3px black !important;
}

.is-spotlight-height {
  height: 250px
}

.has-circle-background {
  background-image: url("./resources/circle-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.no-mobile-padding-top {
  padding-top: 0px !important;
}


.content.is-vcentered {
  display: flex;
  flex-wrap: wrap;
  align-content: center; /* used this for multiple child */
  align-items: center; /* if an only child */
}

.button_unpressed{
  background-color: #E5E5E5 !important;
  color: #F3395D !important;
  font-size: 18px;
}

.button_pressed{
  background-color: #F3395D !important;
  border-color: #F3395D !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 18px;
}

#gdesign-row{
  display: block;
}

#wdesign-row{
  display: none;
}

#photo-row{
  display: none;
}
